{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./images/logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <nav class="navbar navbar-inverse" style="background-image:linear-gradient(#1aba1f,#1aab1e);   border: none;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: aliceblue;">Garbage Detection System</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'g_detect:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'g_detect:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
<div class="container">
  <div class="intro-text">
        Would You like to Volunteer and help the city to be clean ? 
        <button type="button" class="btn btn-primary" id="start-btn">GET STARTED</button>
    </div>
</div>
</body>
</html>
